{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/boec.css' %}">
    <title>Бойцы</title>
  </head>
  <body>
    <div>
      <h1><a href="">Бойцы</a></h1>
    </div>
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
